services:
  api:
    build: .
    container_name: api
    env_file:
      - ${ENV_FILE:-env.development}
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  proxy:
    image: nginx:1.26
    container_name: proxy
    depends_on:
      - api
    ports:
      - "${HTTPS_HOST_PORT:-443}:443"
      - "${HTTP_HOST_PORT:-80}:80"
    volumes:
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro

volumes:
  db_data:
